*{
    font-family: "Dancing Script", cursive;
    background-color: black;

}
.div-two p{
    margin-left: 250px;
   
   
    
}

p{
    color: aliceblue;
}
.div-one{
    margin-bottom: -35px;
}

.div-three {
    margin-left: 650px;
    margin-top: -35px;


}
.div-four{
    margin-left: 750px;
    margin-top: -35px;
}
.div-three p:hover{
    color: aqua;
}
.div-four p:hover{
    color: aqua;
}
.div-one p:hover{
    color: aqua;
}
.div-two p:hover{
    color: aqua;
}

.img img{
    width: 70px;
    height: 70px;
    margin-left: 400px;
} 
.nero a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
   
   
   
}
.nero{
    word-spacing: 15px;
    font-size: 10px;
    margin-left: 310px;
}
.fon img{
    width: 800px;
    height: 450px;
    margin-left: 50px;
}
.font p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
    margin-left: 100px;
    margin-top: -300px;
 
    
}
.button button{
    margin-left: 100px;
    margin-top: -13
    0px;
    border-radius: 5px;
    color: antiquewhite;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}



html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .wrap{
    margin-right: 500px;
    margin-top: -200px;
    
  }


